.task{
    color: black;
    background-color: white;
    margin: 0.5em;
    padding: 0.1em 1em 0.5em;
    border-radius: .5em;
    max-width: 16em;
    min-width: 16em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-h3{
    font-size: large;
}

.task-status{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 1em;
    
}

.task-button-complete{
    width: 2em;
    height: 2em;
    margin-left: 1em;
    border-radius: 10em;
    outline: 0;
    border: 2px solid gray;
}

.task-button-complete:hover {
    background-color: green;
    border-color:green;
  }